.entrenamientos {
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    @media screen and (max-width: 490px) {
        flex-direction: column;
    }
    > .entrenamiento {
        width: 50%;
        height: 100%;
        position: relative;
        @media screen and (max-width: 490px) {
            width: 100%;
        }
        &:hover h2 {
            opacity: 1;
            transform: translateX(0px);
        }
        &:hover .mascara1,
        &:hover .mascara2  {
            opacity: 1;
        }        
        > img { 
            transition: all 0.2s linear;
        }
        > .mascara1,
        > .mascara2 {
            opacity: 0;
            background-color: rgba(254, 97, 72, 0.7);
            transition: all 0.3s ease-in-out;
        }
        h2 {
            transform: translateX(-200px);
            opacity: 0;
            transition: all 0.7s ease-in-out;
        }
    }
    img {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .mascara1 {
        width: 100%;
        height: 500px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }
    .mascara2 {
        width: 100%;
        height: 500px;
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
    }
    h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.9);
        margin: 20px 0 0 0
    }
}