.BG-index {
    height: 99vh;
    width: 100%;
    margin-top: -150px;
    background-image: url("..//img/index.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    z-index: -1;
    @media screen and (max-width: 490px) {
        background-position: 65% center;
    }
    > h1{
        margin-left: 100px;
        color: rgba(254, 97, 72);
        letter-spacing: 1px;
        font-size: 42px;
        text-transform: uppercase;
        @media screen and (max-width: 490px) {
            margin-left: 30px;
            font-size: 18px;
        }
    }
    > h2 {
        margin-left: 100px;
        font-size: 114px;
        @media screen and (max-width: 490px) {
            margin-left: 30px;
            font-size: 74px;
            width: 300px;
        }
    }
    > p {
        margin-left: 100px;
        width: 500px;
        letter-spacing: 1px;
        font-size: 22px;
        margin-bottom: 20px;
        @media screen and (max-width: 490px) {
            margin-left: 30px;
            font-size: 15px;
            width: 230px;
        }
    }
    > .botonesInicio {
        display: flex;
        .btn-comenzar {
            margin-left: 100px;
            color: black;
            background-color: rgba(254, 97, 72, 0.9);
            border: none;
            width: 150px;
            padding: 12.5px;
            border-radius: 5px;
            font-family: 'Sofia Sans Extra Condensed';  
            font-weight: bolder;
            font-size: 20px;
            letter-spacing: 1px;
            cursor: pointer;
            @media screen and (max-width: 490px) {
                margin-left: 30px;
                font-size: 14px;
                width: 100px;
            }
            &:hover {
                background-color: rgba(254, 97, 72, 1);
            }
        }
        .btn-masInfo {
            color: #FFF;
            background-color: black;
            border: 2px solid rgba(254, 97, 72, 0.9);
            width: 150px;
            padding: 12.5px;
            margin-left: 20px;
            border-radius: 5px;
            font-family: 'Sofia Sans Extra Condensed';  
            font-weight: bolder;
            font-size: 20px;
            letter-spacing: 1px;
            cursor: pointer;
            @media screen and (max-width: 490px) {
                font-size: 14px;
                width: 100px;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: rgb(255, 255, 255);
            }
        }
        .fa-circle-chevron-right {
            color: rgba(254, 97, 72, 0.9);
            font-size: 20px;
            margin-right: 10px;
            @media screen and (max-width: 490px) {
                font-size: 12px;
            }
        }        
    }
}

