.BG-entrenador {
    width: 100%;
    background-image: url("..//img/entrenador.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #FFF;
    z-index: -1;
    @media (max-width: 570px) {
        background-position: right center;
        margin-top: 350px;
    }
    > h2{
        margin: 50px 0 40px 100px;
        font-size: 94px;
        letter-spacing: 1px;
        @media (max-width: 570px) {
            font-size: 42px;
            margin: 50px 0 40px 70px;
        }
    }
    > p{
        width: 650px;
        margin-left: 100px;
        font-size: 30px;
        letter-spacing: 1px;
        @media (max-width: 570px) {
            margin-left: 70px;
            font-size: 20px;
            width: 80%;
        }
    }
    > .transformacion {
        background-color: #030303;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding: 50px 0 150px 0;
        > h3 {
            margin: 70px 0 40px 0;
            font-size: 64px;
            letter-spacing: 1px;
            text-transform: uppercase;
            @media (max-width: 570px) {
                margin: 50px 0 20px 0;
                font-size: 34px; 
            }
        }
        > .antesDespues {
            width: 100%;
            display: flex;
            justify-content: space-around;
            > .antesDespues-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media (max-width: 570px) {
                    gap: 10px;
                }
                > h4 {
                    font-size: 44px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    @media (max-width: 570px) {
                        font-size: 24px;
                    }
                }
                img {
                    --s: 12.5px;  /* size of the frame */
                    --b: 2px;   /* border thickness */
                    --w: 400px; /* width of the image */
                    --c: rgba(254, 97, 72, 0.7);
                    --d: rgb(96, 96, 96);
                
                    width: var(--w);
                    aspect-ratio: 1;
                    object-fit: cover;
                    padding: calc(2*var(--s));
                    --_g: var(--d) calc(2*var(--b)),#0000 0 calc(100% - calc(2*var(--b))),var(--d) 0;
                    background:
                      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
                      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
                    outline: calc(var(--w)/2) solid rgba(0, 0, 0, 0.4);
                    outline-offset: calc(var(--w)/-2 - 2*var(--s));
                    transition: .4s;
                    cursor: pointer;
                    margin: 15px;
                    @media (max-width: 570px) {
                        width: 100%;
                        padding: 0;
                        --w: 400px; /* width of the image */
                        margin: 0;
                    }
                    &:hover {
                        --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
                        outline: var(--b) solid var(--c);
                        outline-offset: calc(var(--s)/-2);
                        --_i: calc(100% - 2*var(--s));
                        @media (max-width: 570px) {
                            outline: none;
                            outline-offset: none;
                        }
                    }
                }
            }
        }
    }
}

